{
  "openapi": "3.0.2",
  "info": {
    "x-audience": "external-public",
    "x-api-id": "a51a3f62-bb5c-48c5-8db8-8f887e8756e5",
    "version": "1.0.0",
    "title": "Designs Search",
    "x-ibm-name": "design-search",
    "x-pathalias": "design-search",
    "description": "API to search Designs\n",
    "contact": {
      "name": "API Platform Team",
      "url": "https://dev.euipo.europa.eu",
      "email": "apiplatform@euipo.europa.eu"
    },
    "termsOfService": "https://euipo.europa.eu/tunnel-web/secure/webdav/guest/document_library/contentPdfs/law_and_practice/decisions_president/EX-22-05_en_annex_I_version_2_en.pdf",
    "x-ip-domain": [
      "Industrial Design"
    ],
    "x-service-type": [
      "Search",
      "Dissemination"
    ],
    "x-content-type": [
      "Bibliographic data",
      "Legal status",
      "Classification"
    ],
    "x-product-page-url": "https://dev.euipo.europa.eu/product/design-search_100",
    "x-ibm-summary": ""
  },
  "servers": [
    {
      "url": "https://api.euipo.europa.eu/design-search"
    }
  ],
  "tags": [
    {
      "name": "Designs"
    }
  ],
  "x-ibm-configuration": {
    "testable": true,
    "enforced": true,
    "cors": {
      "enabled": true
    },
    "phase": "realized",
    "type": "rest",
    "oauth-servers": {
      "Oauth2ClientCredentials": {
        "clientCredentials": {
          "tokenUrls": [
            "https://euipo.europa.eu/cas-server-webapp/oidc/accessToken"
          ],
          "authorizationUrls": [],
          "refreshUrls": []
        }
      },
      "Oauth2AuthorizationCode": {
        "authorizationCode": {
          "tokenUrls": [
            "https://euipo.europa.eu/cas-server-webapp/oidc/accessToken"
          ],
          "authorizationUrls": [
            "https://euipo.europa.eu/cas-server-webapp/oidc/authorize"
          ],
          "refreshUrls": []
        }
      }
    }
  },
  "security": [
    {
      "ClientID": [],
      "Oauth2ClientCredentials": [
        "uid"
      ]
    },
    {
      "ClientID": [],
      "Oauth2AuthorizationCode": [
        "design-search.designs.read"
      ]
    }
  ],
  "paths": {
    "/designs": {
      "get": {
        "operationId": "searchDesigns",
        "summary": "Search for designs",
        "description": "Search for Designs that match the criteria below. Results are returned in pages (check parameters page and size for more details).",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/DesignQuery"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/DesignSort"
          }
        ],
        "responses": {
          "200": {
            "description": "Results of the search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignSearchResult"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SearchDesignBadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/designs/{designNumber}": {
      "get": {
        "operationId": "getDesign",
        "summary": "Retrieves the details of a Design\n",
        "description": "Retrieves the details of a Design",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DesignNumber"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Fields"
          }
        ],
        "responses": {
          "200": {
            "description": "The design",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/DesignNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/designs/{designNumber}/views/{order}": {
      "get": {
        "operationId": "getDesignView",
        "summary": "Retrieves the view of a design",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DesignNumber"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ],
        "responses": {
          "200": {
            "description": "The design view",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/DesignNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/designs/{designNumber}/views/{order}/thumbnail": {
      "get": {
        "operationId": "getDesignThumbnailView",
        "summary": "Retrieves the thumbnail view of a design",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DesignNumber"
          },
          {
            "$ref": "#/components/parameters/Order"
          }
        ],
        "responses": {
          "200": {
            "description": "The thumbnail of the design view",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/DesignNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    },
    "/designs/{designNumber}/model": {
      "get": {
        "operationId": "getDesignModel",
        "summary": "Retrieves the model of a design",
        "tags": [
          "Designs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DesignNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "The design model",
            "content": {
              "model/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Retry-After": {
                "$ref": "#/components/headers/Retry-After"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/DesignNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "default": {
            "$ref": "#/components/responses/DefaultError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ClientID": {
        "type": "apiKey",
        "in": "header",
        "name": "X-IBM-Client-Id"
      },
      "Oauth2ClientCredentials": {
        "type": "oauth2",
        "description": "This API operates using two different OAuth2 flows, each offering a unique way of handling user data and design\ninformation:\n- **Client Credentials Flow:** In this method, the final user remains anonymous. The API authenticates the client  based on their credentials but does not have access to the user’s identity. As a result, under certain conditions, \nthe API may choose to hide specific parts of the design information to maintain privacy and security.\n",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://euipo.europa.eu/cas-server-webapp/oidc/accessToken",
            "scopes": {
              "uid": "Grants partial read access to user EU Designs under certain conditions"
            }
          }
        },
        "x-ibm-oauth-provider": "production-oauth"
      },
      "Oauth2AuthorizationCode": {
        "type": "oauth2",
        "description": "- **Authorization Code Flow:** This flow involves the identification of the final user. Since the user is authenticated and their identity is known, the API can provide complete information about the design. This method allows for a more personalized user experience, as it tailors the data access according to the user’s identity.\n",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://euipo.europa.eu/cas-server-webapp/oidc/authorize",
            "tokenUrl": "https://euipo.europa.eu/cas-server-webapp/oidc/accessToken",
            "scopes": {
              "design-search.designs.read": "Grants complete read access to user EU designs"
            }
          }
        },
        "x-ibm-oauth-provider": "production-oauth"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer"
        },
        "description": "The maximum number of requests you're permitted to make per time period."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer"
        },
        "description": "The number of requests remaining in the current rate limit window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "integer"
        },
        "description": "The relative time in seconds until the current rate-limit window resets.\n"
      },
      "Retry-After": {
        "schema": {
          "type": "integer"
        },
        "description": "The number of seconds to wait until the rate limit window resets. Only sent when the rate limit is reached."
      }
    },
    "parameters": {
      "Language": {
        "in": "header",
        "name": "Accept-Language",
        "required": false,
        "schema": {
          "$ref": "#/components/schemas/EUOfficialLanguage"
        }
      },
      "Fields": {
        "in": "query",
        "name": "fields",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 1000
        },
        "description": "The `fields` query parameter determines the fields returned with the response payload object.\n\nThe syntax of the query `fields` value is defined by the following [EBNF](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form) grammar.\n```\nfilter = filter-item, {\",\", filter};\nfilter-item = all | field-name | field-name, negation, \"(\" field-names \")\" | field-name, \"(\", filter-item, {\",\", filter-item}, \")\";\nfield-names = field-name, {\",\", field-name};\nfield-name = {letter-digit}-;\nletter-digit = ? alphanumeric character ?;\nnegation = \"!\";\nall = \"*\";\n```\n\n**Examples of valid `fields` values:**\n- Return designs root object with only the designNumber field:<br>\n```designs(designNumber)```\n\n- Return designs root object with the designNumber field and the nested applicants object with only its\n  identifier field:<br>\n```designs(designNumber,applicants(identifier))```\n\n- Return designs root object excluding applicantReference field:<br>\n```designs!(applicantReference)```\n\n- Return root object with the `designNumber` field and the nested `applicants` object with all its\nfields but `name`:<br>\n```designs(designNumber,applicants!(name))```\n\n- Return root object only with `designNumber` and `status` fields:<br>\n```designNumber,status```\n",
        "example": "(designNumber,applicants(identifier)))"
      },
      "DesignQuery": {
        "in": "query",
        "name": "query",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 5000
        },
        "description": "The `query` parameter allows to search for a specific set of trademarks using RSQL expressions.\nRSQL is a query language for parametrized filtering of entries in RESTful APIs. It uses an URI-friendly syntax,\nthere are no unsafe characters, so URL encoding is not required.\n\nThe syntax of RQSL is defined by the following [EBNF](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form) grammar.\n```\ninput          = or, EOF;\nor             = and, { \",\" , and };\nand            = constraint, { \";\" , constraint };\nconstraint     = ( group | comparison );\ngroup          = \"(\", or, \")\";\n\ncomparison     = selector, comparison-op, arguments;\n\nselector       = unreserved-str;\n\ncomparison-op  = comp-fiql | comp-alt;\ncomp-fiql      = ( ( \"=\", { ALPHA } ) | \"!\" ), \"=\";\ncomp-alt       = ( \">\" | \"<\" ), [ \"=\" ];\n\narguments      = ( \"(\", value, { \",\" , value }, \")\" ) | value;\nvalue          = unreserved-str | double-quoted | single-quoted;\n\nunreserved-str = unreserved, { unreserved }\nsingle-quoted  = \"'\", { ( escaped | all-chars - ( \"'\" | \"\\\" ) ) }, \"'\";\ndouble-quoted  = '\"', { ( escaped | all-chars - ( '\"' | \"\\\" ) ) }, '\"';\n\nreserved       = '\"' | \"'\" | \"(\" | \")\" | \";\" | \",\" | \"=\" | \"!\" | \"~\" | \"<\" | \">\";\nunreserved     = all-chars - reserved - \" \";\nescaped        = \"\\\", all-chars;\nall-chars      = ? all unicode characters ?;\n```\n\n### Available comparison operators\n\n| Operator | Alternative Syntax | Meaning                  |\n|----------|--------------------|--------------------------|\n| ==       |                    | Equal to                 |\n| !=       |                    | Not equal to             |\n| <        | =lt=               | Less than                |\n| <=       | =le=               | Less than or equal       |\n| >        | =gt=               | Greater than operator    |\n| >=       | =ge=               | Greater than or equal to |\n| =in=     |                    | In                       |\n| =out=    |                    | Not in                   |\n| =all=    |                    | All in                   |\n\n*An asterisk can be used as a wildcard with both the equal and not equal operators*\n\n### Available logical operators\n| Operator | Meaning     |\n|----------|-------------|\n| or       | Logical OR  |\n| and      | Logical AND |\n\n### Supported Fields\n| Field                               | Supported operators                        |\n|-------------------------------------|--------------------------------------------|\n| designNumber                        | \"==\", \"!=\", \"=in=\"                         |\n| applicantReference                  | \"==\", \"!=\"                                 |\n| verbalElement                       | \"==\", \"!=\"                                 |\n| locarnoClasses                      | \"==\", \"!=\", \"=in=\", \"=out=\", \"=all=\"       |\n| productIndications                  | \"==\", \"!=\", \"=in=\", \"=out=\", \"=all=\"       |\n| applicants.identifier               | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| applicants.name                     | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| representatives.identifier          | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| representatives.name                | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| designers.identifier                | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| designers.name                      | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| applicationDate                     | \"==\", \"!=\", \"<\", \"<=\", \">\", \">=\"           |\n| registrationDate                    | \"==\", \"!=\", \"<\", \"<=\", \">\", \">=\"           |\n| expiryDate                          | \"==\", \"!=\", \"<\", \"<=\", \">\", \">=\"           |\n| status                              | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n| renewalStatus                       | \"==\", \"!=\", \"=in=\", \"=out=\"                |\n\n### Examples of valid queries\n- Designs from representative with identifier 28009 which are in status Registered and fully published A.1\n```representatives.identifier==28009 and status==REGISTERED_AND_FULLY_PUBLISHED```\n\n- Registered designs where their locarno classification is 14.04 and are in status Registered and fully published A.1\n```locarnoClasses==14.04 and status==REGISTERED_AND_FULLY_PUBLISHED```\n\n- Designs whose application date is greater than or equal to '2023-05-04'\n```applicationDate>=2023-05-04```\n"
      },
      "DesignSort": {
        "in": "query",
        "name": "sort",
        "schema": {
          "$ref": "#/components/schemas/Sort"
        },
        "description": "The sort query parameter determines the sort order. It is the sort field that uses the ':' separator\nplus the value 'asc' (ascending) or 'desc' (descending) to indicate sorting direction.\n\n### List of sortable fields\n| Field              |\n|--------------------|\n| designNumber       |\n| applicantReference |\n| applicationDate    |\n| registrationDate   |\n| expiryDate         |\n",
        "example": "designNumber:asc"
      },
      "PageNumber": {
        "in": "query",
        "name": "page",
        "schema": {
          "$ref": "#/components/schemas/PageNumber"
        }
      },
      "PageSize": {
        "in": "query",
        "name": "size",
        "schema": {
          "$ref": "#/components/schemas/PageSize"
        }
      },
      "DesignNumber": {
        "in": "path",
        "name": "designNumber",
        "schema": {
          "$ref": "#/components/schemas/DesignNumber"
        },
        "required": true
      },
      "Order": {
        "in": "path",
        "name": "order",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 7
        },
        "required": true
      }
    },
    "responses": {
      "DefaultError": {
        "x-summary": "Unexpected error",
        "description": "Error occurred - see status code and problem object for more information.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "example": {
              "type": "/problems/general-error",
              "title": "General error",
              "status": 500
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        }
      },
      "SearchDesignBadRequestError": {
        "description": "Bad request",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "example": {
              "type": "/problems/input-validation-error",
              "title": "Input validation error",
              "detail": "Query error: Unknown operator: =o=",
              "status": 400,
              "instance": "/designs"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        }
      },
      "DesignNotFoundError": {
        "x-summary": "Not found",
        "description": "Design not found",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "example": {
              "type": "/problems/not-found-error",
              "title": "Resource not found",
              "detail": "Design with number '015000302-000123' not found",
              "status": 404,
              "instance": "/designs/015000302-000123"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        }
      },
      "UnauthorizedError": {
        "x-summary": "Unauthorized",
        "description": "Client request has not been completed because it lacks valid authentication credentials for the requested resource",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "example": {
              "type": "/problems/unauthorized",
              "title": "The request lacks valid authentication credentials for this resource",
              "detail": "Full authentication is required to access this resource",
              "status": 401,
              "instance": "/designs"
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        }
      },
      "RateLimitError": {
        "description": "Rate Limit Exceeded",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            },
            "example": {
              "type": "/problems/too-many-requests",
              "title": "Too Many Requests",
              "detail": "Rate Limit exceeded",
              "status": 429
            }
          }
        },
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        }
      }
    },
    "schemas": {
      "ApplicationNumber": {
        "type": "string",
        "example": "000000013",
        "pattern": "^\\d{9}$",
        "maxLength": 9,
        "minLength": 9,
        "description": "Identifier of the application to which the design belongs\n"
      },
      "DesignNumber": {
        "type": "string",
        "example": "000000013-0001",
        "pattern": "^\\d{9}-\\d{4}$",
        "maxLength": 14,
        "minLength": 14,
        "description": "Public identifier of the design\n"
      },
      "ApplicationDate": {
        "type": "string",
        "format": "date",
        "description": "Application date of the application"
      },
      "ApplicationLanguage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EUOfficialLanguage"
          }
        ],
        "description": "First language of the application. One of the 23 EU languages."
      },
      "SecondLanguage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EUIPOOfficialLanguage"
          }
        ],
        "description": "Second language of the application. According to the regulation, you must provide a second language from one of the five official EUIPO languages (de, en, es, fr, it). The second language must be different from the first. Please note that your trade mark could be challenged in the second language.\n"
      },
      "PersonalReference": {
        "type": "string",
        "maxLength": 30,
        "pattern": "^[a-zA-Z0-9._\\\\-\\\\/\\\\\\\\]{1,30}$",
        "example": "PersonalReference001",
        "description": "Value that the user may indicate for his own reference. It should consist of up to 30 alphanumeric characters, using the Roman alphabet: a-z, A-Z, 0-9 and/or the special characters: .-_/\\\\. Spaces not allowed"
      },
      "RegistrationDate": {
        "type": "string",
        "format": "date",
        "description": "Registration date of the design"
      },
      "ExpiryDate": {
        "type": "string",
        "format": "date",
        "description": "Expiry date of the design"
      },
      "ApplicantList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Person"
        },
        "description": "List of persons that applied for the registration of the design.\n",
        "minItems": 1
      },
      "RepresentativeList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Person"
        },
        "description": "List of persons that represent the applicants of the design"
      },
      "PageNumber": {
        "type": "integer",
        "format": "int32",
        "default": 0,
        "minimum": 0,
        "example": 0,
        "description": "The results are returned in pages. The page parameter (zero-based) indicates which page to return. For example, page = 2 (third page) and size = 10 will return matching applications No 21 to No 30"
      },
      "PageSize": {
        "type": "integer",
        "format": "int32",
        "default": 10,
        "minimum": 10,
        "maximum": 100,
        "example": 10,
        "description": "Number of results to fetch per page"
      },
      "TotalElements": {
        "type": "integer",
        "format": "int32",
        "minimum": 0,
        "example": 1,
        "description": "Total number of results"
      },
      "TotalPages": {
        "type": "integer",
        "format": "int32",
        "minimum": 0,
        "example": 1,
        "description": "Total number of pages"
      },
      "Sort": {
        "type": "string",
        "pattern": "^([\\w+]+(\\.(\\w)+)*:(asc|desc))$",
        "description": "Sorting",
        "maxLength": 50,
        "example": "applicationNumber:desc"
      },
      "PersonId": {
        "type": "string",
        "description": "Person identifier"
      },
      "DesignSearchResult": {
        "type": "object",
        "properties": {
          "designs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DesignSearchResultItem"
            },
            "maxItems": 100
          },
          "size": {
            "$ref": "#/components/schemas/PageSize"
          },
          "totalElements": {
            "$ref": "#/components/schemas/TotalElements"
          },
          "totalPages": {
            "$ref": "#/components/schemas/TotalPages"
          },
          "page": {
            "$ref": "#/components/schemas/PageNumber"
          }
        },
        "additionalProperties": false,
        "required": [
          "designs",
          "size",
          "totalElements",
          "totalPages",
          "page"
        ]
      },
      "DesignSearchResultItem": {
        "type": "object",
        "properties": {
          "designNumber": {
            "$ref": "#/components/schemas/DesignNumber"
          },
          "applicationDate": {
            "$ref": "#/components/schemas/ApplicationDate"
          },
          "applicationNumber": {
            "$ref": "#/components/schemas/ApplicationNumber"
          },
          "applicantReference": {
            "$ref": "#/components/schemas/PersonalReference"
          },
          "registrationDate": {
            "$ref": "#/components/schemas/RegistrationDate"
          },
          "expiryDate": {
            "$ref": "#/components/schemas/ExpiryDate"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "locarnoClasses": {
            "$ref": "#/components/schemas/LocarnoClasses"
          },
          "applicants": {
            "$ref": "#/components/schemas/ApplicantList"
          },
          "representatives": {
            "$ref": "#/components/schemas/RepresentativeList"
          }
        },
        "additionalProperties": false,
        "required": [
          "designNumber",
          "applicationDate",
          "status",
          "applicants"
        ],
        "example": {
          "designNumber": "000000013-0001",
          "applicationDate": "2000-02-10",
          "applicantReference": "REF01",
          "registrationDate": "2000-03-11",
          "expiryDate": "2005-03-11",
          "status": "REGISTERED_AND_FULLY_PUBLISHED",
          "locarnoClasses": [
            "19.06",
            "09.03"
          ],
          "applicants": [
            {
              "office": "EM",
              "identifier": "1516",
              "name": "Denes Natural Pet Care Limited"
            }
          ],
          "representatives": [
            {
              "office": "EM",
              "identifier": "11246",
              "name": "AWS SWEDEN AB"
            }
          ]
        }
      },
      "LocarnoClasses": {
        "type": "array",
        "items": {
          "type": "string",
          "pattern": "^[0-9]{2}(\\.[0-9]{2})?$",
          "example": "19.08"
        },
        "description": "The Locarno Classification is the international classification system for industrial designs that is \nadministered by the World Intellectual Property Organization (WIPO). The European Union Intellectual Property \nOffice (EUIPO) has compiled a list of products, known as the 'Eurolocarno' list, which is based on the Locarno \nClassification, for classifying goods indicated both in registered EU designs and in EU design applications.\n\nLocarno classes match the following pattern: '^[0-9]{2}(\\.[0-9]{2})?$'. e.g.: 19.08\n",
        "example": [
          "19.08"
        ]
      },
      "ProductIndication": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "language": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EUOfficialLanguage"
                }
              ],
              "description": "Language of the terms"
            },
            "terms": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string",
                "description": "Description of the Term"
              }
            }
          },
          "additionalProperties": false,
          "required": [
            "language",
            "terms"
          ]
        },
        "description": "An application for a Design must indicate the products in which the design is intended to be incorporated or\nto which it is intended to be applied. The indication of products must be worded in such a way as to indicate \nclearly the nature of the products and to enable each product to be classified in only one class of the \nLocarno Classification, preferably using the terms appearing in the list of products set out therein, or in \nDesignClass.\n",
        "externalDocs": {
          "description": "More information on Product Indications",
          "url": "https://euipo.europa.eu/designclass/"
        },
        "example": [
          {
            "language": "en",
            "terms": [
              "textile fabrics",
              "other printed matter"
            ]
          }
        ]
      },
      "View": {
        "type": "object",
        "properties": {
          "order": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "imageFormat": {
            "type": "string",
            "enum": [
              "JPG"
            ]
          },
          "viennaClasses": {
            "$ref": "#/components/schemas/ViennaClassification"
          }
        },
        "additionalProperties": false,
        "required": [
          "order",
          "imageFormat"
        ]
      },
      "ViennaClassification": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ViennaClass"
        },
        "description": "Hierarchical system that proceeds from the general to the particular, classifying the figurative elements of\nmarks into categories, divisions and sections, on the basis of their shape\n",
        "externalDocs": {
          "url": "https://euipo.europa.eu/ohimportal/en/vienna-classification",
          "description": "More information on Vienna classification"
        }
      },
      "ViennaClass": {
        "type": "string",
        "pattern": "^[0-9][0-9].[0-9][0-9].[0-9][0-9]|[0-9][0-9].[0-9][0-9]$",
        "maxLength": 8
      },
      "Model": {
        "type": "object",
        "properties": {
          "modelFormat": {
            "type": "string",
            "enum": [
              "OBJ",
              "X3D",
              "STL"
            ],
            "description": "Format of the 3D model."
          },
          "viennaClasses": {
            "$ref": "#/components/schemas/ViennaClassification"
          }
        },
        "additionalProperties": false,
        "required": [
          "modelFormat"
        ],
        "description": "3D Model attached to the design for additional information and as a source for the static images (views).\n"
      },
      "Priority": {
        "type": "object",
        "properties": {
          "country": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ExtendedWIPOST3Country"
              }
            ],
            "description": "Country of first filing"
          },
          "applicationNumber": {
            "type": "string",
            "description": "Filing number"
          },
          "applicationDate": {
            "type": "string",
            "format": "date",
            "description": "The priority filing date."
          },
          "status": {
            "$ref": "#/components/schemas/PriorityStatus"
          }
        },
        "additionalProperties": false,
        "description": "Priority"
      },
      "PriorityStatus": {
        "type": "string",
        "enum": [
          "TO_DETERMINE",
          "CLAIMED",
          "ABANDONED",
          "REFUSED"
        ]
      },
      "ExhibitionPriority": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of exhibition where the mark has been disclosed"
          },
          "firstDisplayDate": {
            "type": "string",
            "format": "date",
            "description": "Date of first disclosure"
          },
          "status": {
            "$ref": "#/components/schemas/ExhibitionPriorityStatus"
          }
        },
        "additionalProperties": false,
        "required": [
          "name",
          "firstDisplayDate",
          "status"
        ],
        "description": "Exhibition priority"
      },
      "ExhibitionPriorityStatus": {
        "type": "string",
        "enum": [
          "TO_DETERMINE",
          "ACCEPTED",
          "ABANDONED",
          "REFUSED"
        ]
      },
      "Publication": {
        "type": "object",
        "properties": {
          "bulletinNumber": {
            "type": "string",
            "pattern": "^\\d{4}\\/\\d{3}$",
            "example": "2000/056",
            "description": "Bulletin number where the publication was done"
          },
          "publicationSection": {
            "type": "string",
            "pattern": "^[A-Z]\\.\\d{1,2}(\\.\\d+)?$",
            "maxLength": 6,
            "example": "A.1",
            "description": "Section of the bulletin where the publication was done"
          },
          "publicationDate": {
            "type": "string",
            "format": "date",
            "example": "2022-01-15",
            "description": "Date when the Bulletin was published"
          }
        },
        "additionalProperties": false,
        "required": [
          "bulletinNumber",
          "publicationSection",
          "publicationDate"
        ],
        "description": "Publication"
      },
      "Record": {
        "type": "object",
        "properties": {
          "recordNumber": {
            "type": "string",
            "pattern": "^\\d{9}$",
            "maxLength": 9,
            "minLength": 9,
            "example": "002280595",
            "description": "Public identifier of the record\n"
          },
          "recordKind": {
            "type": "string",
            "example": "Change of Names and Addresses of Rep",
            "description": "Description of the record\n"
          },
          "bulletinNumber": {
            "type": "string",
            "pattern": "^\\d{4}\\/\\d{3}$",
            "maxLength": 8,
            "example": "2000/056",
            "description": "Bulletin number where the publication of the record was done"
          },
          "publicationSection": {
            "type": "string",
            "pattern": "^[A-Z]\\.\\d{1,2}(\\.\\d+)?$",
            "maxLength": 6,
            "example": "B.9.1",
            "description": "Section of the bulletin where the publication of the record was done",
            "externalDocs": {
              "description": "VADEMECUM TO THE EUROPEAN UNION DESIGNS BULLETIN",
              "url": "https://euipo.europa.eu/pdf/design/vademecum-rcd-EN.pdf"
            }
          },
          "publicationDate": {
            "type": "string",
            "format": "date",
            "example": "2022-01-15",
            "description": "Date when the Bulletin containing the record was published"
          }
        },
        "additionalProperties": false,
        "required": [
          "recordNumber",
          "publicationSection"
        ],
        "example": {
          "recordNumber": "002280595",
          "recordKind": "Change of Names and Addresses of Rep",
          "bulletinNumber": "2000/056",
          "publicationSection": "B.9.1",
          "publicationDate": "2022-01-15"
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "office": {
            "type": "string",
            "enum": [
              "EM",
              "WO"
            ],
            "description": "Source Office:\n- EM. The European Union Intellectual Property Office (EUIPO)\n- WO. The World Intellectual Property Organization (WIPO).\n"
          },
          "identifier": {
            "$ref": "#/components/schemas/PersonId"
          },
          "name": {
            "type": "string",
            "description": "Full name of the person"
          }
        },
        "additionalProperties": false,
        "required": [
          "office",
          "identifier"
        ]
      },
      "Designer": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique identifier of the designer"
          },
          "name": {
            "type": "string",
            "maxLength": 512,
            "description": "Full name of the designer"
          }
        },
        "additionalProperties": false,
        "required": [
          "identifier"
        ]
      },
      "EUOfficialLanguage": {
        "type": "string",
        "enum": [
          "bg",
          "cs",
          "da",
          "de",
          "el",
          "en",
          "es",
          "et",
          "fi",
          "fr",
          "hr",
          "hu",
          "it",
          "lt",
          "lv",
          "mt",
          "nl",
          "pl",
          "pt",
          "ro",
          "sk",
          "sl",
          "sv"
        ]
      },
      "EUIPOOfficialLanguage": {
        "type": "string",
        "enum": [
          "de",
          "en",
          "es",
          "fr",
          "it"
        ]
      },
      "WIPOST3Country": {
        "type": "string",
        "enum": [
          "AD",
          "AE",
          "AF",
          "AG",
          "AI",
          "AL",
          "AM",
          "AN",
          "AO",
          "AP",
          "AR",
          "AT",
          "AU",
          "AW",
          "AZ",
          "BA",
          "BB",
          "BD",
          "BE",
          "BF",
          "BG",
          "BH",
          "BI",
          "BJ",
          "BM",
          "BN",
          "BO",
          "BQ",
          "BR",
          "BS",
          "BT",
          "BV",
          "BW",
          "BX",
          "BY",
          "BZ",
          "CA",
          "CD",
          "CF",
          "CG",
          "CH",
          "CI",
          "CK",
          "CL",
          "CM",
          "CN",
          "CO",
          "CR",
          "CU",
          "CV",
          "CW",
          "CY",
          "CZ",
          "DE",
          "DJ",
          "DK",
          "DM",
          "DO",
          "DZ",
          "EA",
          "EC",
          "EE",
          "EG",
          "EH",
          "EM",
          "EP",
          "ER",
          "ES",
          "ET",
          "FI",
          "FJ",
          "FK",
          "FO",
          "FR",
          "GA",
          "GB",
          "GC",
          "GD",
          "GE",
          "GG",
          "GH",
          "GI",
          "GL",
          "GM",
          "GN",
          "GQ",
          "GR",
          "GS",
          "GT",
          "GW",
          "GY",
          "HK",
          "HN",
          "HR",
          "HT",
          "HU",
          "IB",
          "ID",
          "IE",
          "IL",
          "IM",
          "IN",
          "IQ",
          "IR",
          "IS",
          "IT",
          "JE",
          "JM",
          "JO",
          "JP",
          "KE",
          "KG",
          "KH",
          "KI",
          "KM",
          "KN",
          "KP",
          "KR",
          "KW",
          "KY",
          "KZ",
          "LA",
          "LB",
          "LC",
          "LI",
          "LK",
          "LR",
          "LS",
          "LT",
          "LU",
          "LV",
          "LY",
          "MA",
          "MC",
          "MD",
          "ME",
          "MG",
          "MK",
          "ML",
          "MM",
          "MN",
          "MO",
          "MP",
          "MR",
          "MS",
          "MT",
          "MU",
          "MV",
          "MW",
          "MX",
          "MY",
          "MZ",
          "NA",
          "NE",
          "NG",
          "NI",
          "NL",
          "NO",
          "NP",
          "NR",
          "NZ",
          "OA",
          "OM",
          "PA",
          "PE",
          "PG",
          "PH",
          "PK",
          "PL",
          "PT",
          "PW",
          "PY",
          "QA",
          "QZ",
          "RO",
          "RS",
          "RU",
          "RW",
          "SA",
          "SB",
          "SC",
          "SD",
          "SE",
          "SG",
          "SH",
          "SI",
          "SK",
          "SL",
          "SM",
          "SN",
          "SO",
          "SR",
          "SS",
          "ST",
          "SV",
          "SX",
          "SY",
          "SZ",
          "TC",
          "TD",
          "TG",
          "TH",
          "TJ",
          "TL",
          "TM",
          "TN",
          "TO",
          "TR",
          "TT",
          "TV",
          "TW",
          "TZ",
          "UA",
          "UG",
          "US",
          "UY",
          "UZ",
          "VA",
          "VC",
          "VE",
          "VG",
          "VN",
          "VU",
          "WO",
          "WS",
          "XN",
          "YE",
          "ZA",
          "ZM",
          "ZW"
        ],
        "example": "ES"
      },
      "WIPOFormerST3Country": {
        "type": "string",
        "enum": [
          "CS",
          "DL",
          "DD",
          "SU",
          "YD",
          "YU"
        ],
        "example": "YU"
      },
      "ExtendedWIPOST3Country": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/WIPOST3Country"
          },
          {
            "$ref": "#/components/schemas/WIPOFormerST3Country"
          }
        ]
      },
      "Status": {
        "type": "string",
        "enum": [
          "REGISTERED_AND_FULLY_PUBLISHED",
          "REGISTERED_AND_SUBJECT_TO_DEFERMENT",
          "LACK_OF_EFFECTS",
          "SURRENDERED",
          "INVALIDITY_PROCEDURE_PENDING",
          "DESIGN_DECLARED_INVALID",
          "EXPIRED",
          "REGISTRATION_PENDING",
          "REGISTERED",
          "RECEIVED",
          "UNDER_EXAMINATION",
          "APPEALED",
          "WITHDRAWN",
          "APPEALABLE",
          "SPLIT",
          "REFUSED"
        ],
        "description": "Status of the design\n"
      },
      "Design": {
        "type": "object",
        "properties": {
          "designNumber": {
            "$ref": "#/components/schemas/DesignNumber"
          },
          "applicationDate": {
            "$ref": "#/components/schemas/ApplicationDate"
          },
          "applicationNumber": {
            "$ref": "#/components/schemas/ApplicationNumber"
          },
          "applicantReference": {
            "$ref": "#/components/schemas/PersonalReference"
          },
          "applicationLanguage": {
            "$ref": "#/components/schemas/ApplicationLanguage"
          },
          "secondLanguage": {
            "$ref": "#/components/schemas/SecondLanguage"
          },
          "publicationDefermentIndicator": {
            "type": "boolean",
            "description": "Publication may be delayed for up to 30 months. The design will therefore be kept confidential until you are\nready to disclose it. Should you choose not to publish the design at all, the registration will lapse after the\n30-month deferment period.\n"
          },
          "defermentExpirationDate": {
            "type": "string",
            "format": "date",
            "description": "Expiry date of the deferment"
          },
          "registrationDate": {
            "$ref": "#/components/schemas/RegistrationDate"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date",
            "description": "Date the event has legal effect according to applicable law"
          },
          "expiryDate": {
            "$ref": "#/components/schemas/ExpiryDate"
          },
          "renewalStatus": {
            "type": "string",
            "enum": [
              "NOT_TO_BE_RENEWED",
              "RENEWAL_PERIOD_TO_START",
              "RENEWAL_PERIOD_OPEN",
              "RENEWAL_IN_PROCESS",
              "RENEWAL_PROCESS_BLOCKED",
              "RENEWAL_PERIOD_LAPSED",
              "INVALID_FOR_RENEWAL"
            ],
            "description": "State of the design in the context of renewal"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "statusDate": {
            "type": "string",
            "format": "date"
          },
          "views": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/View"
            },
            "minItems": 1,
            "maxItems": 7,
            "description": "Views to represent the design\n"
          },
          "model": {
            "$ref": "#/components/schemas/Model"
          },
          "verbalElement": {
            "type": "string",
            "maxLength": 512
          },
          "productIndications": {
            "$ref": "#/components/schemas/ProductIndication"
          },
          "locarnoClasses": {
            "$ref": "#/components/schemas/LocarnoClasses"
          },
          "priorities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Priority"
            },
            "description": "List of priorities",
            "externalDocs": {
              "description": "More information on Priorities - EUIPO guidelines",
              "url": "https://guidelines.euipo.europa.eu/2058424/2060334/designs-guidelines/6-2-1-1-priority"
            }
          },
          "exhibitionPriorities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExhibitionPriority"
            },
            "description": "List of exhibition priorities",
            "externalDocs": {
              "description": "More information on Exhibition priorities - EUIPO guidelines",
              "url": "https://guidelines.euipo.europa.eu/2058424/2060337/designs-guidelines/6-2-1-2-exhibition-priority"
            }
          },
          "publications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Publication"
            },
            "description": "List of publications",
            "externalDocs": {
              "description": "More information on Publications and Entries in the Register - EUIPO guidelines",
              "url": "https://guidelines.euipo.europa.eu/2058424/2048209/designs-guidelines/7-1-publication-and-entry-in-the-register"
            }
          },
          "applicants": {
            "$ref": "#/components/schemas/ApplicantList"
          },
          "representatives": {
            "$ref": "#/components/schemas/RepresentativeList"
          },
          "designers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Designer"
            },
            "description": "List of designers"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            },
            "description": "List of records",
            "externalDocs": {
              "description": "More information on changes in registration - EUIPO guidelines",
              "url": "https://guidelines.euipo.europa.eu/2058424/1786411/designs-guidelines/11-2-changes-in-the-register"
            }
          },
          "decisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Decision"
            },
            "description": "List of decisions"
          },
          "appeals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Appeal"
            },
            "description": "List of appeals",
            "externalDocs": {
              "description": "Appeals - EUIPO guidelines",
              "url": "https://guidelines.euipo.europa.eu/2058424/1952367/designs-guidelines/8-appeal"
            }
          }
        },
        "required": [
          "designNumber",
          "applicationDate",
          "applicationNumber",
          "status",
          "statusDate",
          "applicants"
        ],
        "additionalProperties": false,
        "example": {
          "designNumber": "000000013-0001",
          "applicationDate": "1997-02-10",
          "applicationNumber": "000000013",
          "applicantReference": "REF01",
          "applicationLanguage": "en",
          "secondLanguage": "es",
          "publicationDefermentIndicator": false,
          "status": "REGISTERED_AND_FULLY_PUBLISHED",
          "statusDate": "1999-02-08",
          "views": [
            {
              "order": 1,
              "imageFormat": "JPG",
              "viennaClasses": [
                "01.01.17",
                "25.01.25"
              ]
            }
          ],
          "locarnoClasses": [
            "19.06"
          ],
          "applicants": [
            {
              "office": "EM",
              "identifier": "1516",
              "name": "Denes Natural Pet Care Limited"
            }
          ],
          "representatives": [
            {
              "office": "EM",
              "identifier": "11246",
              "name": "AWS SWEDEN AB"
            }
          ],
          "designers": [
            {
              "identifier": "235",
              "name": "Designer1"
            }
          ]
        }
      },
      "Decision": {
        "type": "object",
        "properties": {
          "caseNumber": {
            "type": "string",
            "example": "R1851/2019-5",
            "description": "Public identifier of the decision"
          },
          "decisionDate": {
            "type": "string",
            "format": "date",
            "example": "2020-05-25",
            "description": "Date of decision"
          },
          "decisionKind": {
            "$ref": "#/components/schemas/DecisionKind"
          }
        },
        "additionalProperties": false,
        "description": "Decision"
      },
      "DecisionKind": {
        "type": "string",
        "enum": [
          "INVALIDITY",
          "APPEAL",
          "INSTANCE_OF_ECJ"
        ],
        "example": "INVALIDITY",
        "description": "Type of the decision"
      },
      "Appeal": {
        "type": "object",
        "properties": {
          "appealNumber": {
            "type": "string",
            "description": "Public identifier of the appeal"
          },
          "appealDate": {
            "type": "string",
            "format": "date",
            "example": "2019-07-29",
            "description": "Application date of the appeal"
          },
          "contestedEntity": {
            "type": "object",
            "properties": {
              "contestedEntityKind": {
                "$ref": "#/components/schemas/ContestedEntityKind"
              },
              "contestedEntityIdentifier": {
                "type": "string",
                "description": "Public identifier of the contested entity. The format of this identifier may vary depending on the entityKind"
              }
            },
            "additionalProperties": false,
            "required": [
              "contestedEntityKind",
              "contestedEntityIdentifier"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/AppealStatus"
          }
        },
        "additionalProperties": false,
        "required": [
          "appealNumber",
          "appealDate",
          "contestedEntity",
          "status"
        ]
      },
      "ContestedEntityKind": {
        "type": "string",
        "enum": [
          "INSPECTION_REQUEST",
          "DESIGN_RECORD",
          "EU_DESIGN_APPLICATION",
          "EU_DESIGN",
          "INVALIDITY",
          "INTERNATIONAL_DESIGN"
        ],
        "example": "INVALIDITY"
      },
      "AppealStatus": {
        "type": "string",
        "enum": [
          "RECEIVED",
          "WRITTEN_PROCEDURE_OPEN",
          "CASE_PENDING_BEFORE_THE_BOARD",
          "DECISION_NOTIFIED_TO_PARTIES",
          "CASE_PENDING_BEFORE_EUROPEAN_COURTS",
          "EUROPEAN_COURT_JUDGEMENT_OR_ORDER_RENDERED",
          "CLOSED",
          "SUSPENDED"
        ],
        "description": "Status of the appeal"
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri-reference",
            "description": "A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferenceable and point to a human-readable documentation nor globally unique for the problem type.\n",
            "default": "about:blank",
            "example": "/some/uri-reference"
          },
          "title": {
            "type": "string",
            "description": "A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.\n",
            "example": "some title for the error situation"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
            "minimum": 100,
            "maximum": 600
          },
          "detail": {
            "type": "string",
            "description": "A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.\n",
            "example": "some description for the error situation"
          },
          "instance": {
            "type": "string",
            "format": "uri-reference",
            "description": "A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.\n",
            "example": "/some/uri-reference#specific-occurrence-context"
          }
        },
        "additionalProperties": false,
        "example": {
          "type": "/problems/not-found-error",
          "title": "Resource not found",
          "detail": "Application not found",
          "status": 404
        }
      }
    }
  },
  "x-ibm-endpoints": [
    {
      "url": "https://api.euipo.europa.eu/design-search"
    }
  ]
}