interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3c2E_iNjMEutA=
      x-amzn-RequestId:
      - 78693ea9-212e-4aea-9e60-31e03ce062c2
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/case_number_reference/publication/2020123456
  response:
    body:
      string: '{"result":{"statusCode":"100","errorMessage":"","remainAccessCount":"96","data":{"applicationNumber":"2019013554","publicationNumber":"2020123456","nationalPublicationNumber":"","registrationNumber":"7193363","internationalPublicationNumber":""}}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3c8G3rtjMEk1A=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '247'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:19:51 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 7462f27a-09e7-453f-9b72-f18a43d8239c
    status:
      code: 200
      message: OK
version: 1
