interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3dUGY8tjMEiCw=
      x-amzn-RequestId:
      - c43fd507-bccf-4d86-b8ca-320e9efefe1f
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/jpp_fixed_address/2020123456
  response:
    body:
      string: '{"result":{"statusCode":"100","errorMessage":"","remainAccessCount":"394","data":{"URL":"https://www.j-platpat.inpit.go.jp/c1800/PU/JP-2020-123456/186AE6828C0FA152B99E21C174948495B09F7186518B0AC4DB6CD83E8D3E0ECC/10/ja"}}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3daG27NjMEWyA=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '221'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:19:54 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 0a9fe1ed-015d-47bb-b527-373c3eb91d7e
    status:
      code: 200
      message: OK
version: 1
