interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3gQFR_NjMEY9A=
      x-amzn-RequestId:
      - 0e0f1cd8-605b-441d-bc20-18c652273904
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/pct_national_phase_application_number/international_application/JP9999999999
  response:
    body:
      string: "{\"result\":{\"statusCode\":\"107\",\"errorMessage\":\"\u8A72\u5F53\u3059\u308B\u30C7\u30FC\u30BF\u304C\u3042\u308A\u307E\u305B\u3093\u3002\",\"remainAccessCount\":\"399\",\"data\":{}}}"
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3gVHncNjMEHWg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '127'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:20:13 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 80cd8351-bfca-49c7-b03d-2c7d40242250
    status:
      code: 200
      message: OK
version: 1
