interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3ewFU6NjMEEAg=
      x-amzn-RequestId:
      - b986bdfb-5cbd-4d3b-a3d6-84cea082d6f6
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/priority_right_app_info/2020123456
  response:
    body:
      string: '{"result":{"statusCode":"100","errorMessage":"","remainAccessCount":"58","data":{"applicationNumber":"2020123456","priorityRightInformation":[{"parisPriorityApplicationNumber":"","parisPriorityDate":"","parisPriorityCountryCd":"","nationalPriorityLawCd":"1","nationalPriorityApplicationNumber":"2019210418","nationalPriorityInternationalApplicationNumber":"","nationalPriorityDate":"20191121"}]}}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3e2FfAtjMEfvQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '397'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:20:03 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 6032f723-ce63-4ac4-9148-17af97609098
    status:
      code: 200
      message: OK
version: 1
