interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3b1Es0NjMEAsg=
      x-amzn-RequestId:
      - dd57eecb-6563-40d0-8787-f097ae93796e
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/cite_doc_info/2020123456
  response:
    body:
      string: '{"result":{"statusCode":"100","errorMessage":"","remainAccessCount":"93","data":{"applicationNumber":"2020123456","patentDoc":[{"draftDate":"20240220","citationType":"19","citationOrder":"1","documentNumber":"JPA
        414233033"},{"draftDate":"20240220","citationType":"19","citationOrder":"2","documentNumber":"JPA
        416064039"},{"draftDate":"20240220","citationType":"19","citationOrder":"3","documentNumber":"JPA
        404087383"},{"draftDate":"20240220","citationType":"19","citationOrder":"4","documentNumber":"JPA
        360046093"},{"draftDate":"20240220","citationType":"19","citationOrder":"5","documentNumber":"JPA
        408167522"},{"draftDate":"20240220","citationType":"89","citationOrder":"1","documentNumber":"JPA
        409074283"},{"draftDate":"20240704","citationType":"31","citationOrder":"1","documentNumber":"JPA
        414233033"},{"draftDate":"20240704","citationType":"31","citationOrder":"2","documentNumber":"JPA
        416064039"},{"draftDate":"20240704","citationType":"31","citationOrder":"3","documentNumber":"JPA
        404087383"},{"draftDate":"20240704","citationType":"31","citationOrder":"4","documentNumber":"JPA
        360046093"},{"draftDate":"20240704","citationType":"31","citationOrder":"5","documentNumber":"JPA
        408167522"},{"draftDate":"20240704","citationType":"31","citationOrder":"6","documentNumber":"JPA
        409074283"},{"draftDate":"20240704","citationType":"31","citationOrder":"7","documentNumber":"JPA
        415248131"}],"nonPatentDoc":[]}}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3b7GVMNjMEWwg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '1422'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:19:45 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - 8768412c-c5f0-4be4-a5e7-11d7e8711a7e
    status:
      code: 200
      message: OK
version: 1
