interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3fREbwNjMEQOQ=
      x-amzn-RequestId:
      - 45473b3a-e6eb-462c-bee7-41de0f20fc42
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/divisional_app_info/2020123456
  response:
    body:
      string: '{"result":{"statusCode":"100","errorMessage":"","remainAccessCount":"58","data":{"applicationNumber":"2020123456","parentApplicationInformation":{},"divisionalApplicationInformation":[]}}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3fWGdANjMERuQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '188'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:20:07 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - c339f1f6-331c-4d9f-9a94-f45d3d027af3
    status:
      code: 200
      message: OK
version: 1
