interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c__x_GvXNjMEBEw=
      x-amzn-RequestId:
      - 31e345b3-0ec9-4f1b-8c66-02cce8a92303
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/design/v1/jpp_fixed_address/2020015234
  response:
    body:
      string: '{"result":{"statusCode":"100","errorMessage":"","remainAccessCount":"399","data":{"URL":"https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-015234/520C9257C73C7EDC983BEA1DAB8195584E08F5D8B7C1B8A38CFB5AF594337AFC/30/ja"}}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c__yEE89NjMEImg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '221'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 15:16:42 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - cedbf552-5b20-4757-9b1f-b570bc1acaf5
    status:
      code: 200
      message: OK
version: 1
