interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3h0EzKtjMEa4g=
      x-amzn-RequestId:
      - 4bfa47d5-eaad-4fe6-8abb-6adcf79045f5
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/app_progress/2020123456
  response:
    body:
      string: "{\"result\":{\"statusCode\":\"100\",\"errorMessage\":\"\",\"remainAccessCount\":\"785\",\"data\":{\"applicationNumber\":\"2020123456\",\"inventionTitle\":\"\u7ACB\u4F53\u914D\u7DDA\u69CB\u9020\u4F53\u306E\u88FD\u9020\u65B9\u6CD5\",\"applicantAttorney\":[{\"applicantAttorneyCd\":\"000114400\",\"repeatNumber\":\"1\",\"name\":\"\u30E1\u30A4\u30B7\u30E7\u30A6\u682A\u5F0F\u4F1A\u793E\",\"applicantAttorneyClass\":\"1\"},{\"applicantAttorneyCd\":\"100076598\",\"repeatNumber\":\"2\",\"name\":\"\u6E21\u8FBA\u3000\u4E00\u8C4A\",\"applicantAttorneyClass\":\"2\"},{\"applicantAttorneyCd\":\"100165607\",\"repeatNumber\":\"3\",\"name\":\"\u6E21\u8FBA\u3000\u4E00\u6210\",\"applicantAttorneyClass\":\"2\"},{\"applicantAttorneyCd\":\"100196690\",\"repeatNumber\":\"4\",\"name\":\"\u68EE\u5408\u3000\u900F\",\"applicantAttorneyClass\":\"2\"}],\"filingDate\":\"20200720\",\"publicationNumber\":\"503090037\",\"ADPublicationNumber\":\"2021090037\",\"nationalPublicationNumber\":\"\",\"ADNationalPublicationNumber\":\"\",\"publicationDate\":\"20210610\",\"registrationNumber\":\"7533889\",\"registrationDate\":\"20240805\",\"internationalApplicationNumber\":\"\",\"internationalPublicationNumber\":\"\",\"internationalPublicationDate\":\"\",\"erasureIdentifier\":\"00\",\"expireDate\":\"20400720\",\"disappearanceDate\":\"\",\"priorityRightInformation\":[{\"parisPriorityApplicationNumber\":\"\",\"parisPriorityDate\":\"\",\"parisPriorityCountryCd\":\"\",\"nationalPriorityLawCd\":\"1\",\"nationalPriorityApplicationNumber\":\"2019210418\",\"nationalPriorityInternationalApplicationNumber\":\"\",\"nationalPriorityDate\":\"20191121\"}],\"parentApplicationInformation\":{},\"divisionalApplicationInformation\":[],\"bibliographyInformation\":[{\"numberType\":\"01\",\"number\":\"2020123456\",\"documentList\":[{\"legalDate\":\"20200720\",\"irirFlg\":\"0\",\"availabilityFlag\":\"1\",\"documentCode\":\"A63\",\"documentDescription\":\"\u8981\u7D04\u66F8\",\"documentNumber\":\"52001475960\",\"versionNumber\":\"0001\",\"documentSeparator\":\"Y\",\"numberOfPages\":\"0\",\"sizeOfDocument\":\"1208\"},{\"legalDate\":\"20200720\",\"irirFlg\":\"0\",\"availabilityFlag\":\"1\",\"documentCode\":\"A63\",\"documentDescription\":\"\u7279\u8A31\u9858\",\"documentNumber\":\"52001475960\",\"versionNumber\":\"0001\",\"documentSeparator\":\"S\",\"numberOfPages\":\"0\",\"sizeOfDocument\":\"1427\"},{\"legalDate\":\"20200720\",\"irirFlg\":\"0\",\"availabilityFlag\":\"1\",\"documentCode\":\"A63\",\"documentDescription\":\"\u8ACB\u6C42\u306E\u7BC4\u56F2\",\"documentNumber\":\"52001475960\",\"versionN[...]
