interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3d3EqsNjMEZyw=
      x-amzn-RequestId:
      - 7de2756f-ed8a-4a86-be4e-29d8ad49763c
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/patent/v1/applicant_attorney/%E3%83%88%E3%83%A8%E3%82%BF%E8%87%AA%E5%8B%95%E8%BB%8A%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE
  response:
    body:
      string: "{\"result\":{\"statusCode\":\"100\",\"errorMessage\":\"\",\"remainAccessCount\":\"393\",\"data\":{\"applicantAttorney\":[{\"applicantAttorneyCd\":\"000003207\",\"name\":\"\u30C8\u30E8\u30BF\u81EA\u52D5\u8ECA\u682A\u5F0F\u4F1A\u793E\"}]}}}"
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3d8HpTNjMEKvg=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '182'
      x-amzn-Remapped-Date:
      - Thu, 07 May 2026 14:19:57 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - c2547756-dace-4b7b-b21d-c0671b040c55
    status:
      code: 200
      message: OK
version: 1
