interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://cloud.tipo.gov.tw/S220/opdataapi/api/PatentAppl?format=json&skip=0&tk=REDACTED&top=2
  response:
    body:
      string: "{\n  \"version\": \"1.0\",\n  \"status\": \"ok\",\n  \"message\": \"\",\n
        \ \"top\": 2,\n  \"skip\": 0,\n  \"order-by\": \"appl-no\",\n  \"total-count\":
        1451147,\n  \"tw-patent-applI\": {\n    \"-page-count\": 2,\n    \"-create-date\":
        \"2026/05/17\",\n    \"patentcontent\": [\n      {\n        \"-sequence\":
        1,\n        \"appl-no\": \"06202104\",\n        \"appl-date\": \"1972/07/26\",\n
        \       \"appl-countrycode\": \"TW\",\n        \"appl-country\": \"\u4E2D\u83EF\u6C11\u570B\",\n
        \       \"classification-ipc\": [\n          {\n            \"-sequence\":
        1,\n            \"ipc-full\": \"F23D\",\n            \"ipc-section\": \"F\",\n
        \           \"ipc-class\": \"23\",\n            \"ipc-subclass\": \"D\",\n
        \           \"ipc-main-group\": null,\n            \"ipc-group\": null,\n
        \           \"ipc-version\": \"06\"\n          }\n        ],\n        \"publish-flag\":
        \"2\"\n      },\n      {\n        \"-sequence\": 2,\n        \"appl-no\":
        \"06210001\",\n        \"appl-date\": \"1973/01/03\",\n        \"appl-countrycode\":
        null,\n        \"appl-country\": null,\n        \"classification-ipc\": [
        ],\n        \"publish-flag\": \"0\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
