interactions:
- request:
    body: grant_type=password&username=REDACTED_USERNAME&password=REDACTED_PASSWORD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ip-data.jpo.go.jp/auth/token
  response:
    body:
      string: '{"access_token": "REDACTED_ACCESS_TOKEN", "expires_in": 3600, "refresh_expires_in":
        28800, "refresh_token": "REDACTED_REFRESH_TOKEN", "token_type": "Bearer",
        "id_token": "REDACTED_ID_TOKEN", "not-before-policy": 0, "session_state":
        "REDACTED", "scope": "openid profile"}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - c_3gvGdFtjMEYdA=
      x-amzn-RequestId:
      - 188edfa5-db4d-4758-8528-9f9589590ef7
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://ip-data.jpo.go.jp/api/design/v1/app_progress/2020015234
  response:
    body:
      string: "{\"result\":{\"statusCode\":\"100\",\"errorMessage\":\"\",\"remainAccessCount\":\"793\",\"data\":{\"applicationNumber\":\"2020015234\",\"designArticle\":\"\u7403\u4F53\u8EE2\u304C\u3057\u7528\u7A4D\u307F\u6728\",\"designClass\":\"E2112\",\"applicantAttorney\":[{\"applicantAttorneyCd\":\"519372777\",\"repeatNumber\":\"1\",\"name\":\"\u5927\u5FB3\u6728\u7BA1\u5DE5\u696D\u682A\u5F0F\u4F1A\u793E\",\"applicantAttorneyClass\":\"1\"}],\"filingDate\":\"20200624\",\"publicationDate\":\"\",\"registrationNumber\":\"1680736\",\"registrationDate\":\"20210219\",\"principalDesignApplicationNumber\":\"\",\"erasureIdentifier\":\"00\",\"expireDate\":\"20450624\",\"disappearanceDate\":\"\",\"priorityRightInformation\":[],\"parentApplicationInformation\":{},\"bibliographyInformation\":[{\"numberType\":\"01\",\"number\":\"2020015234\",\"documentList\":[{\"legalDate\":\"20200625\",\"irirFlg\":\"0\",\"availabilityFlag\":\"1\",\"documentCode\":\"A63\",\"documentDescription\":\"\u610F\u5320\u767B\u9332\u9858\",\"documentNumber\":\"22011160009\",\"versionNumber\":\"0001\",\"documentSeparator\":\"S\",\"numberOfPages\":\"0\",\"sizeOfDocument\":\"28613\"},{\"legalDate\":\"20200625\",\"irirFlg\":\"0\",\"availabilityFlag\":\"0\",\"documentCode\":\"A80\",\"documentDescription\":\"\u65B0\u898F\u6027\u306E\u55AA\u5931\u306E\u4F8B\u5916\u8A3C\u660E\u66F8\u63D0\u51FA\u66F8\",\"documentNumber\":\"22011160141\",\"versionNumber\":\"0000\",\"documentSeparator\":\"
        \",\"numberOfPages\":\"0\",\"sizeOfDocument\":\"0\"},{\"legalDate\":\"20200814\",\"irirFlg\":\"0\",\"availabilityFlag\":\"1\",\"documentCode\":\"A231\",\"documentDescription\":\[...]
